.contenedor__principal{

    display: flex;
    justify-content: center;
    
    width: 100%;


}
.contenedor__elementos{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.elemento{
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
    border: .3px solid rgb(148, 147, 147);
    font-size: 30px;
    transform: translateY(0);

    transition: all .5s;
    
    cursor: pointer;
}

.elemento:hover{
    z-index: 1000;
    transform: scale(1.09);
    background-color: red;
    color: white;
}