.content{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content p{
    font-size: 30px;
    font-weight: bold;

}
.content ul>li{
    font-size: 20px;

}
.content ul{
    margin-top: 30px;
}